body {
    background-color: #AA7039;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    color: #000000;
    margin: 1% 5%;

}
.kuva {
    float: left;
}
h1 {
   margin: 1.5em 1em;
}
.navigointipalkki ul {
    list-style-type: none;
    background-color: #c7c1bb ;
    overflow: hidden;
}
.navigointipalkki li {
    float: left;
}
.navigointipalkki a {

    color: #FFFFFF;
    padding: 0 40px;
    text-decoration: none;
}
.navigointipalkki a:hover {
    background-color: #19171e;
  
}
.kuva {
    float: left;
    margin: 0 20px;
}
.video {
    width: 512px;
    height: 288px;
    float: left;
    position: 0px;
    padding: 0px;
    margin: 20px;
}
.vierakirja {
    text-align: center;
}